<title>{{post.title}}</title>
{% include "header.html" %}
<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{post.title}}</h1>
          <h2 class="subheading">{{post.subtitle}}</h2>
          <span class="meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ post.body|safe }}
        <hr>
        {% if current_user.id == 1 %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('edit', post_id=post.id)}}">Edit Post</a>
        </div>
        {% endif %}
        <!-- Comments Area -->
        <form action="{{ url_for('show_post', post_id=post.id) }}" method="post" novalidate>
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.comment.label(class_='form-label') }} <br> {{ form.comment(autofocus=True, class_='form-control') }}
            {% for err in form.comment.errors %}
            <span style="color: red;">{{ err }}</span>
            {% endfor %}
          </div>
          {{ form.submit(class_='btn btn-primary') }}

        </form>
        <div class="col-lg-8 col-md-10 comment">
          <ul class="commentList">
            {% for comment in comments %}
            <li>
              <div class="commenterImage">
                <img src="{{ comment.user.email | gravatar }}" />
              </div>
              <div class="commentText">
                <p>{{ comment.comment | safe }}</p>
                <span class="date sub-text">{{ comment.user.name }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>
</article>

<hr>
{% include "footer.html" %}