{% extends 'base.html' %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-sm-4">
      <form action="{{ url_for('add') }}" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
          {{ form.movie_title.label }} <br> {{ form.movie_title(autofocus=True) }}
          {% for err in form.movie_title.errors %}
          <span style="color: red;">{{ err }}</span>
          {% endfor %}
        </p>
  
        {{ form.submit() }}
      </form>
    </div>
  </div>
</div>
{% endblock %}